/*google front*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*rootcolor*/

:root{
  --blue:#0188df;
  --black:#444d53;
  --white:#fff;
}

/*custom css*/
*{
  font-family: "Roboto", sans-serif;
  margin: 0; padding:0;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  box-sizing:border-box;
  transition: all linear .2s;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

/*button*/
.button{
  height:3.5rem;
  width: 15rem;
  background: var(--blue);
  color: var(--white);
  font-size: 1.7rem;
  text-transform: capitalize;
  border-radius: .5rem;
  cursor: pointer;
  margin: 1rem 0;
  border: .1rem solid var(--blue);

}

.button:hover{
  border: .1rem solid var(--white);
  background:var(--white);
  color:var(--blue);
  letter-spacing:  .2rem;
}
/*header navbar section start */
header{
  width: 96%;
  background: var(--white);
  position:fixed;
  top: 2rem;
  left:50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;

}

/*logo name*/
header a{
  color: var(--black);
}
header a:hover {
  color: var(--blue);
}


header .logo{
  font-size: 3rem;
}

header .logo span{
  color: var(--blue);
}
/*navbar*/
header .navbar ul{
  display: flex;
  align-items: center;
  gap:2rem;
  justify-content: space-between;
  list-style: none;
}
header .navbar ul li a{
font-size: 2rem;
color: var(--black);
}

header .navbar ul li a:hover{
  color:var(--blue);
}

header  .fa-bars{
  font-size: 3rem;
  color: var(--blue);
  cursor: pointer;
  display: none;
}

header .fa-times{
  transform: rotate(180deg);
}
.header-active{
  top: 0;
  width: 100%;
  box-shadow: .1rem  .3rem  rgba(0,0,0,.3);
}
/* header navbar section end*/
/*home section starts*/
.home{
  min-height:100vh;
  padding-top:  10rem;
}

.home .row{
  display:flex;
  align-items: center;
  justify-content:  space-around;
  width: 85%;
  margin: 0 auto;
}

/*home images*/
.home .row .images img{
  height: 75vh;
}

/* home heading*/
.home .content h1{
  font-size: 4rem;
  color: var(--black);
}

.home .content h1 span{
  color:var(--blue);
}

.home .content p{
  font-size: 1.9rem;
  color: var(--black);
}





















/*test */
















/* media query*/
@media( max-width: 768px){
  html{
    font-size:55%;
  }

  header .fa-bars{
    display: block;
  }
  header .navbar{
    position: fixed;
    top: -100rem; left: 0;
    width: 100%;
    background: var(--white);
    opacity: 0;
  }
    
    header  .navbar ul{
      flex-flow: column;
      padding: 2rem 0;

    }
  header .navbar ul li{
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }

  header  .navbar ul li a{
    font-size: 3rem;
    display: block;

  }
  header .nav-toggle{
    top: 5.5rem;
    opacity: 1;
  }

  /*home media query */
  .home .row{
    flex-flow: column;
  }

  .home .row .content{
    text-align: center;
  }
/*home images*/
  .home .row .images img{
    width: 100%;
  }

}